@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.max-width {
    margin: 0 auto;
    padding: 10px;
    width: 100%;    
    max-width: 1300px;
}
.text-center {    
    text-align: center;
}
header {
    box-shadow: 0 2px 3px rgba(170, 170, 170, 0.5);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav li {
    display: inline;
    margin-left: 20px;
}
.nav a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
}
.nav a:hover {
    color: #C2185B;
}