@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul li {
    display: inline;
    margin: 0 39px;
}
.menu ul li a {    
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #777;
}
.banner img {
    width: 100vw;
}
h2 {
    font-size: 60px;
    font-weight: 800;
    color: #000;
    text-align: center;
}
.destaques {
    width: 100vw;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.sale {
    background-color: #C2185B;
}
.sale ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sale li {
    display: inline;
}

.sale li a {
    display: inline-block;
    margin: 5px;
}
.sale li a img {
    display: inline-block;
    width: 260px;
    height: 300px;
}

@media (max-width: 1002px) {
    .destaques {
        flex-wrap: wrap;
    }
    .destaques img {
        margin: 10px 0;
        width: 100%;
    }
}